<a style="cursor: pointer">
    <div style="width: 365px;height: 50px;padding: 4px">
        <div class="row">
            <div class="col-md-2">
                <img src="{{match.model.image}}" style="height:40px;width: 40px"/>
            </div>
            <div class="col-md-10">
                <span style="font-weight: bolder">{{match.model.mrnNumber}}&nbsp;&nbsp;{{match.model.firstName}}&nbsp;&nbsp;{{match.model.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;{{match.model.mobileNumber}}</span>
                <br>
                <span style="font-size: 11px;">{{match.model.dateOfBirth}}&nbsp;&nbsp;&nbsp;&nbsp;{{match.model.gender}}</span>
            </div>
        </div>
    </div>
</a>