@CHARSET "ISO-8859-1";
body{margin:0 0 20px;padding:0;}
body,td,th{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
h1{font-size:18px;margin:0;padding:0;}
table.data{border-top:4px solid #DFDFDF;border-left:4px solid #DFDFDF;border-right:4px solid #DFDFDF;border-bottom:3px solid #DFDFDF;}
.data th{text-align:left;background-color:#EFEFEF;border-bottom:1px solid #666;font-weight:700;}
.data td{text-align:left;background-color:#FFF;border-bottom:1px solid #DFDFDF;}
.printbar{background-color:#EFEFEF;margin-bottom:20px;border-bottom:1px solid #CCC;padding:5px 64px 5px 20px;}
.printbar .what{float:left;margin:2px 0 0 32px;}
.greyline{border-top:1px solid #eee;margin:4px 0;}
.greyline:first-child{border-top:0 solid #eee;margin:0;}
.small{font-size:xx-small;margin:0;padding:0;}
table.datasmall{border-top:2px solid #DFDFDF;border-left:2px solid #DFDFDF;border-right:2px solid #DFDFDF;border-bottom:1px solid #DFDFDF;font-size:xx-small;}
.datasmall th{text-align:left;background-color:#EFEFEF;border-bottom:1px solid #666;font-weight:700;font-size:xx-small;}
.datasmall td{text-align:left;background-color:#FFF;border-bottom:1px solid #DFDFDF;font-size:xx-small;}
@media print {
.noprint{display:none;}
}